* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}


@import 'base/variables';
@import 'base/mixin';
@import 'partials/header';
@import 'partials/inicio';
@import 'partials/contacto';
@import 'partials/galeria';
@import 'partials/servicios';
@import 'partials/eventos';
@import 'partials/footer';



.pages__title {
    @include titulo-paginas()
}
