* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid red; */
}

header {
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    color: #E8EBE4;
}

.portada{
    width: 100%;
    height: 35vh;
    background-image: url(../img/habitacion-hotel.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}


.estilo-navbar{
    margin: 0 1rem;
    /* font-weight: 600; */
    cursor: pointer;
    transition: 0.5s;
    color: #f2f2f2; 

}

.estilo-navbar:hover{
    color: rosybrown;
}

.header-title {
    text-align: left;
    padding: 0px;
}


li {
    color: #E8EBE4;
}

.texto-centrado {
    text-align: center;
}

.margin-titulos{
    margin: 15px;
}

.margin-abajo{
    margin-bottom: 15px;
}

.titulos {
    border: 2px solid gray;
    padding: 10px 15px;
    border-radius: 20px;
}

   





.align-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.estilo-footer{
    width: 100%;
    background-color: #0a141d;
    overflow: hidden;
}
.grupo-1{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.box p{
    color: #efefef;
    margin-bottom: 10px;
}
.grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}
.grupo-2 small{
    font-size: 15px;
}
 




.galeria-margin {
    margin-left: 5%;
    margin-right: 5%;
}

.galeria-img {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden;
    image-rendering: auto;
}

 .section-galeria__title {
    text-align: center;
}
/*
.galeria-hotel__card {
    width: 80%;
    height: 40vh;
    margin: 15px auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){

    .galeria-promociones{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 45%);

    justify-content: center;

    gap: 20px;
    }

    .card-promocion {
    width: 100%;
    height: 100%;
    
    margin: 0;
    }

    .section-informacion {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: 30vh;
        justify-content: center;
        gap: 20px;
        overflow: hidden;
    }

    .galeria-hotel {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: 50vh repeat(2, 45vh);
        justify-content: center;
        gap: 20px;
        overflow: hidden;
    }

    .galeria-hotel__card {
        width: 100%;
        height: 100%;
        margin: 0;

    
    }
}

@media (min-width: 1200px) {
    .galeria-promociones{
        display: grid;
        grid-template-columns: repeat(4, 22.5%);
        grid-template-rows: 60vh;
    
        justify-content: center;
    
        gap: 20px;
        }

    .galeria-hotel {
        grid-template-columns: repeat(4, 23%);
        grid-template-rows: 50vh repeat(2, 30vh);
        }
} */