
.texto-centrado {
    text-align: center;
}

.margin-titulos{
    margin: 15px;
}

.margin-abajo{
    margin-bottom: 15px;
}
.img-tamaño {
    position: absolute;
    width: 300px;
    height: 400px;
}